/* Baixando a fonte Super Mario 256 */
@font-face {
    font-family: 'Super Mario 256';
    src: url('../Imgs_e_Videos_e_Fontes/SuperMario256.ttf') format('woff2'),
         url('../Imgs_e_Videos_e_Fontes/SuperMario256.ttf') format('woff');
}
/* Configurações da página */
body{
    background-image: url("../Imgs_e_Videos_e_Fontes/Teste.jpg");
}
h1{
    color: orange;
    font-size: 6rem;
    text-align: center;
    font-family: 'Super Mario 256';
    text-shadow: 2px 2px 4px white;
    border: 2px solid black;
}
h2{
    font-family: 'Super Mario 256';
    text-align: center;
}
#listaDificuldades{
    color: blue;
    font-size: 1,5rem;
    text-align: center;
    font-family: 'Super Mario 256';
}
button{
    width: 200px;
    background-color: orange;
    border: 2px solid #000000;
    color: #000000; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-family: 'Super Mario 256'; 
    box-shadow: 3px 3px #888888;
}
/* Localização na tela */

.flex_row {
    display: flex;
    height: 44vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.flex_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
/*Sobre as imgens na pagina*/
img{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    border: 2px solid black;
}
#inverso{
    transform: scaleX(-1);
}
#marca{
    margin: 0px 10px 5px 10px;
    padding: 0px;
    float: right;
}
@media(max-width: 640px){
    h1{
        font-size: 4rem;
    }
    .flex_row{
        flex-direction: column;
        height: 100%;
    }
    #inverso{
        width: 0px;
    }
}


